* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.App {
  text-align: center;
}

.App-content {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  /* gap: 1.5rem; */
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-title {
  text-transform: capitalize;
  margin: 1.5rem auto;
  width: 200px;
  padding: 0.5rem 2rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #fff;
  border-radius: 1rem;
  background: rgba(255, 255, 255, 0.9);
  color: #090909;
}

section > a {
  color: #09f;
  display: flex;
  flex-direction: column;
}

.form {
  margin: 1rem 0;
}

.input-search {
  padding: 0.5rem 2rem;
  border: none;
  background: rgba(255, 255, 255, 0.95);
  border: 1px solid rgba(0, 0, 0, 0.9);
  text-align: start;
  border-radius: 0.3rem;
  outline: none;
}

.input-search:focus {
  border: red;
}

.btn-search {
  padding: 0.5rem 2rem;
  border: none;
  margin-left: 0.3rem;
  background-color: #09f;
  color: #fff;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-search:hover {
  background-color: rgb(0, 102, 170);
}

.App-category {
  margin-bottom: 25px;
  width: 100%;
}

.btn-nextPage {
  padding: 0.5rem 2rem;
  border: none;
  width: 50%;
  margin-left: 0.3rem;
  background-color: #09f;
  color: #fff;
  border-radius: 0.3rem;
  transition: all 0.4s ease;
  cursor: pointer;
}

.btn-nextPage:hover {
  background-color: rgb(0, 102, 170);
}
